<div>
  <strong>Plano</strong>: {{ plan }}<br />
  <strong>Data de Início</strong>: {{ start_date }}<br />
  <strong>Data de término</strong>: {{ end_date }}<br />
  <strong>Preço</strong>: R$ {{ price }}<br />
</div>
